.formWraper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  border-radius: 5px;
  border: 2px solid #778899;
  padding: 5px;
  width: 200px;
  height: 30px;
  outline: none;
  @media (max-width: 640px) {
    width: 150px;
    height: 30px;
  }
}
.invalid {
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 30px;
  border: 2px solid red;
  box-shadow: 0 0 5px 1px red;
  outline: none;
  @media (max-width: 640px) {
    width: 150px;
    height: 30px;
  }
}
.messege {
  color: red;
  font-weight: 700;
}
.btn {
  align-self: center;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #778899;
  color: var(--bg);
  background-color: var(--text);
  cursor: pointer;
}
.invalidLabel {
  display: none;
}
