.linksDiv {
  display: flex;

  gap: 50px;
}

.mobileBtn,
.mobileLink {
  display: none;
}

@media (max-width: 768px) {
  .linksDiv {
    display: none;
  }
  .mobileLink {
    position: absolute;
    top: 100px;
    right: 25px;
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px;
    font-size: 15px;
    background-color: #fffaf0;
    border-radius: 5px;
    z-index: 2;
  }
  .mobileBtn {
    display: block;
    position: absolute;
    top: 100px;
    right: 45px;
    top: 80px;
    width: 10%;
    cursor: pointer;
  }
}
